* {
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.main_container {
  width: 100%;
}
.avatar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.avatar_container_img {
  position: absolute;
  width: 20%;
  left: 3%;
  top: 25%;
}
.avatar_container_img img {
  border-radius: 50%;
}
.avatar_container_text {
  width: 100%;
  font-size: 9px;
  margin: 20px;
}
.avatar_container_text ul {
  text-align: center;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.header_container {
  text-align: center;
  font-size: 11px;
}
.header_container_text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
.header_container_img {
  background-image: url("../src/images/IMG_8499-removebg-preview.png");
  background-size: cover; /* Растягивает изображение по ширине и высоте, чтобы оно полностью покрывало элемент */
  background-position: center; /* Располагает изображение по центру элемента */
  background-repeat: no-repeat; /* Отключает повторение изображения */
  width: 100%;
  height: 100vh;
}
.content_container_courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.courses_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: start;
  padding: 15px;
  background-color: #74e291;
  width: 85%;
  margin-bottom: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.courses_item_ul {
  list-style-type: none;
  border-bottom: 1px solid black;
}
.courses_item_settings {
  display: flex;
  justify-content: space-around;
}
.settings_elem {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 5px 0;
}
.content_container_courses button {
  padding: 10px;
  border-radius: 5px;
  background-color: #59b4c3;
  border: none;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #095710;
}
.about_courses {
  text-align: center;
  margin-top: 10px;
  list-style-type: disc;
}
.about_courses_ul {
  text-align: start;
  padding: 0 5px;
}
.about_courses_li {
  display: flex;
  margin: 20px 0;
  border-bottom: 3px solid #211c6a;
  border-top: 3px solid #211c6a;
  padding: 10px 0;
  width: 80%;
}
.about_courses_ul2 {
  text-align: start;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.about_courses_li2 {
  padding: 5px 10px;
  margin: 10px 0;
  border: 3px solid #211c6a;
  width: 80%;
}
